footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px;
    color: white;
    gap: 20px;
}

a {
    width: 80px;
}

.footer-left{
    display: flex;
    justify-content: space-evenly;
    width:350px;
    height: 60px;
}

.footer-right {
    text-align: center;
}

.titulo-footer{
    text-align: center;
    font-size: 14px;
}


@media screen and (max-width: 425px) {
    footer {
        padding: 5px;
    }

    .footer-left {
        width: 230px;
    }

    .footer-right {
        margin-right: 10px;
        font-size: 12px;
    }

    h3 {
        text-align: center;
    }
    
    .titulo-footer {
        font-size: 10px;
    }
}