h2 {
    text-shadow: 2px 2px #154454;
    font-size: 40px;
    text-align: center;
}

.container-main {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px;
    width: 100%;
    gap: 20px;
}

.container-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:30px 50px;
    gap: 20px;
    background-color: linear-gradient(10% #F0F5E4,#154454 100%);
}

p {
    
    color: black;
}

.history-description{
    width: 45%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    max-width: 400px;
    border: 5px solid #154454;
    background-color: #f0f5e4;
    align-items: center;
}

.text-card {
    width: 90%;
    text-align: center;
    color: black;
}

.img-card {
    width: 100%;
}

.button-card {
    width: 40%;
    text-align: center;
    color:#F0F5E4;
    background-color: #427e80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Estilos de video */

.container-video {
    margin: 0 0 100px 0px;
    width: 70%;
}

.container-reproductor {
    padding: 5px;
    background-color: black;

}

.container-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 2px 5px;
}

.container-buttons {
    display: flex;
    gap: 20px;
}

.btn-play, .btn-pause{
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

#timeVideo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* Rompecabezas */

.container-juguemos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

#puzzle {
    display: flex;
}

#piezas {
    display: flex;
    gap: 10px;
}

.pieza {
    width: 275px;
    height: 400px;
}

.pieza-puzzle {
    background-color: grey;
    outline: 1px solid #333;
    width: 275px;
    height: 400px;
    transition: 1s;
    text-align: center;
}

.pieza-puzzle.hover {
    background-color: rgb(85, 84, 84);
}

.pieza-puzzle .pieza {
    margin: 0;
}

.btn-restart {
    display: flex;
    margin-top: 0px;
    margin: 50px auto;
    padding: 10px 100px;
}

p.hidden {
    visibility: hidden;
    margin: 0;
    height: 0;
}

@media screen and (max-width: 1024px) { 
    .history-card {
        flex-wrap: wrap;
        margin: 0 0 20px;
    }

    .history-description {
        width: auto;
    }

    .mid-card {
        flex-direction: column-reverse;
    }
    
    .container-video {
        width: auto;
    }
}

@media screen and (max-width: 768px) { 
    .container-main{
        flex-wrap: wrap;
        margin: 0 0 20px;
    }

    .history-card {
        margin: 0;
        padding: 10px 30px;
    }

    .container-video {
        margin: 50px 0 50px 0px;
    }

    .btn-play, .btn-pause{
        width: 60px;
        height: 30px;
    }

}

@media screen and (max-width: 425px) { 
    h2 {
        font-size: 30px;
        margin: 0;
    }
}


