/* Logo svg */
#bordeMonitor,
#pantallaMonitor,
#interiorTeclado,
#bordeTeclado {
    animation: pc ease-in 5s;
    animation-iteration-count: 1;
}

@keyframes pc {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    25% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        transform: translate(0, 0);
        opacity: 1;
    }
    75% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* Logo svg */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

.menu {
    display: flex;
    width: 250px;
    justify-content: space-around;
    padding-left: 0;
}

.item-menu {
    list-style-type: none;
}

.item-link, .play-video, .pause-video {
    background-color: #f0f5e4;
    box-shadow: 2px 3px #181a1b;
    border-radius: 10px;
    padding: 10px;
    color: #154454;
    text-decoration: none;
    font-weight: normal;
}

.item-menu:active{
    transform: translate(3px, 2px);
}

.item-menu:active > .item-link{
    box-shadow:0px 0px ;
}

@media screen and (max-width: 425px) {
    nav {
        gap: 100px;
        margin: 0 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        width: 120px;
        margin: 0;
        padding: 0;
        height: 70px;
    }

    .item-link {
        padding: 5px;
    }
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../assets/img/codigo.jpeg) 50% 0 fixed ;
    background-size: cover;
    height: 500px;
    color: #eeeeee;
    font-size: 28px;
    padding: 0px 100px;
}

h1 {
    margin: 0;
    background-color: #2D2D2D;
    text-shadow: 4px 4px black;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
}
